In [1]:
import QUANTAXIS as QA

QUANTAXIS>> start QUANTAXIS
QUANTAXIS>> Selecting the Best Server IP of TDX
QUANTAXIS>> === The BEST SERVER ===
 stock_ip 218.75.126.9 future_ip 61.152.107.141
QUANTAXIS>> Welcome to QUANTAXIS, the Version is 1.0.12
QUANTAXIS>>
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``########`````##````````##``````````##`````````####````````##```##########````````#``````##``````###```##`````######``
  `##``````## ```##````````##`````````####````````##`##```````##```````##```````````###``````##````##`````##```##`````##`
  ##````````##```##````````##````````##`##````````##``##``````##```````##``````````####```````#```##``````##```##``````##
  ##````````##```##````````##```````##```##```````##```##`````##```````##`````````##`##```````##`##```````##````##```````
  ##````````##```##````````##``````##`````##``````##````##````##```````##````````##``###```````###````````##`````##``````
  ##````````##```##````````##``````##``````##`````##`````##```##```````##```````##````##```````###````````##``````###````
  ##````````##```##````````##`````##````````##````##``````##``##```````##``````##``````##`````##`##```````##````````##```
  ##````````##```##````````##````#############````##```````##`##```````##`````###########`````##``##``````##`````````##``
  ###```````##```##````````##```##```````````##```##```````##`##```````##````##`````````##```##```##``````##```##`````##`
  `##``````###````##``````###``##`````````````##``##````````####```````##```##``````````##``###````##`````##````##`````##
  ``#########``````########```##``````````````###`##``````````##```````##``##````````````##`##``````##````##`````##````##
  ````````#####`````````````````````````````````````````````````````````````````````````````````````````````````````####`
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``````````````````````````Copyright``yutiansut``2017``````QUANTITATIVE FINANCIAL FRAMEWORK`````````````````````````````
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````

In [2]:
"""

我们主要试图在这个jupyter notebook 中重新阐述和定义QUANTAXIS的账户和组合的观点


在QUANTAXIS中,账户/策略作为一个基本单元,构建了投资的基础要素,但是去衡量策略/组合的优劣的时候,我们更倾向对于多个账户同时/批次的分析


譬如对于多因子的分析,单个因子可以看做是一个策略,而对于多个因子的组合管理,可能倾向于随机/不确定构建



"""

'\n\n我们主要试图在这个jupyter notebook 中重新阐述和定义QUANTAXIS的账户和组合的观点\n\n\n在QUANTAXIS中,账户/策略作为一个基本单元,构建了投资的基础要素,但是去衡量策略/组合的优劣的时候,我们更倾向对于多个账户同时/批次的分析\n\n\n譬如对于多因子的分析,单个因子可以看做是一个策略,而对于多个因子的组合管理,可能倾向于随机/不确定构建\n\n\n\n'

In [2]:
r=QA.QA_fetch_account()

In [3]:
account1=QA.QA_Account().from_message(r[0])

account_list=[QA.QA_Account().from_message(x) for x in r]

In [4]:
account_list

[< QA_Account Acc_2j0HlMGD>,
 < QA_Account Acc_A6dO9fs3>,
 < QA_Account Acc_ivNguqh3>,
 < QA_Account Acc_Fl6bX5ke>]

In [5]:
x=QA.QAARP.QAPortfolio.Portfolio(account_list)

In [6]:

x.account_list

{'Acc_2j0HlMGD': < QA_Account Acc_2j0HlMGD>,
 'Acc_A6dO9fs3': < QA_Account Acc_A6dO9fs3>,
 'Acc_Fl6bX5ke': < QA_Account Acc_Fl6bX5ke>,
 'Acc_ivNguqh3': < QA_Account Acc_ivNguqh3>}

In [7]:
q=x.accounts[0]

In [8]:
q.history_table.pivot_table(index=['datetime','account_cookie'], columns='code', values='amount').fillna(0)

code                                000001  000002  000157  000333  000425
datetime            account_cookie
2017-01-03 09:30:00 Acc_2j0HlMGD     100.0   100.0   100.0   100.0   100.0
2017-01-04 09:30:00 Acc_2j0HlMGD     100.0   100.0   100.0   100.0   100.0
2017-01-05 09:30:00 Acc_2j0HlMGD    -200.0  -200.0  -200.0  -200.0  -200.0
2017-01-06 09:30:00 Acc_2j0HlMGD     100.0   100.0   100.0   100.0   100.0
2017-01-09 09:30:00 Acc_2j0HlMGD    -100.0  -100.0  -100.0  -100.0  -100.0
2017-01-10 09:30:00 Acc_2j0HlMGD     100.0   100.0   100.0   100.0   100.0

In [9]:
q.daily_hold

,code,000001,000002,000157,000333,000425,account_cookie,date
date,account_cookie,,,,,,,
2017-01-03,Acc_2j0HlMGD,100.0,100.0,100.0,100.0,100.0,Acc_2j0HlMGD,2017-01-03
2017-01-04,Acc_2j0HlMGD,200.0,200.0,200.0,200.0,200.0,Acc_2j0HlMGD,2017-01-04
2017-01-05,Acc_2j0HlMGD,0.0,0.0,0.0,0.0,0.0,Acc_2j0HlMGD,2017-01-05
2017-01-06,Acc_2j0HlMGD,100.0,100.0,100.0,100.0,100.0,Acc_2j0HlMGD,2017-01-06
2017-01-09,Acc_2j0HlMGD,0.0,0.0,0.0,0.0,0.0,Acc_2j0HlMGD,2017-01-09
2017-01-10,Acc_2j0HlMGD,100.0,100.0,100.0,100.0,100.0,Acc_2j0HlMGD,2017-01-10