In [1]:
import QUANTAXIS as QA

QUANTAXIS>> start QUANTAXIS
QUANTAXIS>> Selecting the Best Server IP of TDX
QUANTAXIS>> === The BEST SERVER ===
 stock_ip 61.153.144.179 future_ip 61.152.107.141
QUANTAXIS>> Welcome to QUANTAXIS, the Version is 1.0.13
QUANTAXIS>>
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``########`````##````````##``````````##`````````####````````##```##########````````#``````##``````###```##`````######``
  `##``````## ```##````````##`````````####````````##`##```````##```````##```````````###``````##````##`````##```##`````##`
  ##````````##```##````````##````````##`##````````##``##``````##```````##``````````####```````#```##``````##```##``````##
  ##````````##```##````````##```````##```##```````##```##`````##```````##`````````##`##```````##`##```````##````##```````
  ##````````##```##````````##``````##`````##``````##````##````##```````##````````##``###```````###````````##`````##``````
  ##````````##```##````````##``````##``````##`````##`````##```##```````##```````##````##```````###````````##``````###````
  ##````````##```##````````##`````##````````##````##``````##``##```````##``````##``````##`````##`##```````##````````##```
  ##````````##```##````````##````#############````##```````##`##```````##`````###########`````##``##``````##`````````##``
  ###```````##```##````````##```##```````````##```##```````##`##```````##````##`````````##```##```##``````##```##`````##`
  `##``````###````##``````###``##`````````````##``##````````####```````##```##``````````##``###````##`````##````##`````##
  ``#########``````########```##``````````````###`##``````````##```````##``##````````````##`##``````##````##`````##````##
  ````````#####`````````````````````````````````````````````````````````````````````````````````````````````````````####`
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``````````````````````````Copyright``yutiansut``2017``````QUANTITATIVE FINANCIAL FRAMEWORK`````````````````````````````
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````

In [2]:
"""

我们主要试图在这个jupyter notebook 中重新阐述和定义QUANTAXIS的账户和组合的观点


在QUANTAXIS中,账户/策略作为一个基本单元,构建了投资的基础要素,但是去衡量策略/组合的优劣的时候,我们更倾向对于多个账户同时/批次的分析


譬如对于多因子的分析,单个因子可以看做是一个策略,而对于多个因子的组合管理,可能倾向于随机/不确定构建



"""

'\n\n我们主要试图在这个jupyter notebook 中重新阐述和定义QUANTAXIS的账户和组合的观点\n\n\n在QUANTAXIS中,账户/策略作为一个基本单元,构建了投资的基础要素,但是去衡量策略/组合的优劣的时候,我们更倾向对于多个账户同时/批次的分析\n\n\n譬如对于多因子的分析,单个因子可以看做是一个策略,而对于多个因子的组合管理,可能倾向于随机/不确定构建\n\n\n\n'

In [3]:
r=QA.QA_fetch_account()

In [4]:
account1=QA.QA_Account().from_message(r[0])

account_list=[QA.QA_Account().from_message(x) for x in r]

In [5]:
account_list

[< QA_Account Acc_2j0HlMGD>,
 < QA_Account Acc_A6dO9fs3>,
 < QA_Account Acc_ivNguqh3>,
 < QA_Account Acc_Fl6bX5ke>]

In [6]:
x=QA.QA_PortfolioView(account_list)

In [7]:

x.account_list

{'Acc_2j0HlMGD': < QA_Account Acc_2j0HlMGD>,
 'Acc_A6dO9fs3': < QA_Account Acc_A6dO9fs3>,
 'Acc_Fl6bX5ke': < QA_Account Acc_Fl6bX5ke>,
 'Acc_ivNguqh3': < QA_Account Acc_ivNguqh3>}

In [8]:
q=x.accounts[0]

In [9]:
import pandas as pd


pd.concat([account.daily_hold.set_index('date') for account in x.accounts]).groupby('date').sum()

code        000001  000002  000157  000333  000425
date
2017-01-03   400.0   400.0   400.0   400.0   400.0
2017-01-04   800.0   800.0   800.0   800.0   800.0
2017-01-05     0.0     0.0     0.0     0.0     0.0
2017-01-06   400.0   400.0   400.0   400.0   400.0
2017-01-09     0.0     0.0     0.0     0.0     0.0
2017-01-10   400.0   400.0   400.0   400.0   400.0

In [10]:
(q.daily_hold.set_index('date')+x.accounts[1].daily_hold.set_index('date'))

code        000001  000002  000157  000333  000425            account_cookie
date
2017-01-03   200.0   200.0   200.0   200.0   200.0  Acc_2j0HlMGDAcc_A6dO9fs3
2017-01-04   400.0   400.0   400.0   400.0   400.0  Acc_2j0HlMGDAcc_A6dO9fs3
2017-01-05     0.0     0.0     0.0     0.0     0.0  Acc_2j0HlMGDAcc_A6dO9fs3
2017-01-06   200.0   200.0   200.0   200.0   200.0  Acc_2j0HlMGDAcc_A6dO9fs3
2017-01-09     0.0     0.0     0.0     0.0     0.0  Acc_2j0HlMGDAcc_A6dO9fs3
2017-01-10   200.0   200.0   200.0   200.0   200.0  Acc_2j0HlMGDAcc_A6dO9fs3

In [11]:
x.accounts[0].daily_cash.set_index('datetime').cash+x.accounts[2].daily_cash.set_index('datetime').cash

datetime
2017-01-03 09:30:00    1.98658e+06
2017-01-04 09:30:00    1.97307e+06
2017-01-05 09:30:00    2.00019e+06
2017-01-06 09:30:00    1.98665e+06
2017-01-09 09:30:00    2.00002e+06
2017-01-10 09:30:00    1.98655e+06
Name: cash, dtype: object

In [12]:
x.daily_hold

code        000001  000002  000157  000333  000425
date
2017-01-03   400.0   400.0   400.0   400.0   400.0
2017-01-04   800.0   800.0   800.0   800.0   800.0
2017-01-05     0.0     0.0     0.0     0.0     0.0
2017-01-06   400.0   400.0   400.0   400.0   400.0
2017-01-09     0.0     0.0     0.0     0.0     0.0
2017-01-10   400.0   400.0   400.0   400.0   400.0

In [13]:
r=pd.to_datetime(pd.Series(['2017-01-03','2018-01-02','2017-02-02','2015-01-08']))

In [14]:
str(r.min())[0:10]

'2015-01-08'

In [15]:
pd.to_datetime(pd.Series([account.start_date for account in x.accounts]))

0   2017-01-03
1   2017-01-03
2   2017-01-03
3   2017-01-03
dtype: datetime64[ns]

In [16]:
import pandas as pd

In [17]:
pd.DataFrame(sum([account.daily_cash.set_index('datetime').cash for account in x.accounts]))

                            cash
datetime
2017-01-03 09:30:00  3.97317e+06
2017-01-04 09:30:00  3.94613e+06
2017-01-05 09:30:00  4.00038e+06
2017-01-06 09:30:00   3.9733e+06
2017-01-09 09:30:00  4.00003e+06
2017-01-10 09:30:00   3.9731e+06

In [18]:
q.daily_cash

,,cash,datetime,date,account_cookie
datetime,account_cookie,,,,
2017-01-03 09:30:00,Acc_2j0HlMGD,993292,2017-01-03 09:30:00,2017-01-03,Acc_2j0HlMGD
2017-01-04 09:30:00,Acc_2j0HlMGD,986533,2017-01-04 09:30:00,2017-01-04,Acc_2j0HlMGD
2017-01-05 09:30:00,Acc_2j0HlMGD,1.00009e+06,2017-01-05 09:30:00,2017-01-05,Acc_2j0HlMGD
2017-01-06 09:30:00,Acc_2j0HlMGD,993326,2017-01-06 09:30:00,2017-01-06,Acc_2j0HlMGD
2017-01-09 09:30:00,Acc_2j0HlMGD,1.00001e+06,2017-01-09 09:30:00,2017-01-09,Acc_2j0HlMGD
2017-01-10 09:30:00,Acc_2j0HlMGD,993275,2017-01-10 09:30:00,2017-01-10,Acc_2j0HlMGD

In [19]:
QA.QA_Risk(x).message

{'account_cookie': ['Acc_2j0HlMGD',
  'Acc_A6dO9fs3',
  'Acc_ivNguqh3',
  'Acc_Fl6bX5ke'],
 'alpha': -0.8141026003658938,
 'annualize_return': -0.0004582372482384578,
 'benchmark_code': '000300',
 'beta': 1.0,
 'max_dropback': 0.00012000168002352033,
 'portfolio_cookie': 'Portfolio_mJBeofIA',
 'profit': -1.1000154002127616e-05,
 'sharpe': -49.329896668511005,
 'time_gap': 6,
 'user_cookie': None,
 'volatility': 0.0010228733619149807}